<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyFoundation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>76CEB7621EA0B2720098D4AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76CEB77B1EA0B2720098D4AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76CEB7861EA0B2720098D4AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
