<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyFoundation-Annotations.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>76C879C41EACFB120088ABF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76C879DD1EACFB120088ABF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76C879E81EACFB120088ABF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
